POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5434

UNICORE_USER=
UNICORE_PASSWORD=
UNICORE_ORG_ID=
UNICORE_URL=https://unicorecustomapi.mecenat.com/utn

# Email settings for local testing with MailHog
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
