.card {
    border-radius: var(--paper-border-radius);
    max-width: 350px;
    width: 100%;
    border: 2px solid var(--grey-200);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.cardHeading {
    max-width: 160px;
    min-height: 4rem;
}

.cardButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}