.buttonsContainer{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    flex-wrap: wrap;
    margin-top: 32px;
}

.myApplicationsContainer, .myPositionsContainer{
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.openPositionsContainer{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.error {
    color: red;
    font-family: var(--text);
    font-weight: 500;
    display: block;
    margin-top: 24px;
}